@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    padding: 1rem;
    flex-grow: 1;
}

body{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
    font-style: none;
    min-height: 100vh;
}

.sidebar_img {
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
    width: calc(100% + 0.5rem);
}

.sidebar {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    gap: 1rem;
    /* flex-grow: 0; */
}

.sidebar_opcoes {
    padding-right: 0.5rem;
    border-right: 0.120rem solid rgb(167, 48, 48);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_opcoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-height: 4.5rem;
    width: 100%;
    border-bottom: 0.120rem solid rgb(167, 48, 48);
}


table{
    font-size: 1.2rem;
    margin: 1rem;    
    color: #333;
    width: 95%;
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

section{
    width:100%
}

td{
text-align: center; 

}




.button {
    color: white;
    background-color: rgb(255, 59, 59);
    padding: 0.3rem;
    margin: 0.1rem;
    border: solid rgb(255, 75, 75) 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.button:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.button:active {
    filter: brightness(160%);
}

.button_adcionar {
    background-color: rgb(155, 155, 155);
    margin: 1rem; 
    padding: 0.5rem;
    border: 0.100rem solid rgb(155, 155, 155);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button_adcionar:hover {
    background-color: rgb(255, 182, 182);
}

.button_editar {
    padding: 0.3rem;
    margin: 0.1rem;
    background-color: rgb(155, 155, 155);
    border: 0.100rem solid rgb(155, 155, 155);;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button_editar:hover {
    background-color: rgb(255, 182, 182);
}