* {
    margin: 0;
}

.main{
    display: flex;
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
    font-style: none;
    min-height: 100vh;
}

.sidebar_img {
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
    width: calc(100% + 0.5rem);
    height: 6rem;
}

.sidebar {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.sidebar_opcoes {
    padding-right: 0.5rem;
    border-right: 0.120rem solid rgb(167, 48, 48);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar_opcoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-bottom: 0.120rem solid rgb(167, 48, 48);
}
