@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*{
    background-color: rgb(255, 255, 255);
    font-family: "Host Grotesk", sans-serif;
}

.container {
    display: flex;
    /* align-items: center; */
    margin-top: 50px;
    justify-content: center;
    gap: 2rem;
}

h2{
    width: 20%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 40%;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control{
    border-radius: 0.6rem;
    width: 18vw;
    height: 2vw;
    padding: 0.4rem;
}

button {
border-radius: 0.3rem;
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 0.938rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
