*{
    margin: auto;
    padding: 0;
}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.conteudo_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.conteudo_header__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container__search form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: auto;
}

.header_container__search input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 0.100rem solid rgb(155, 155, 155);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
}

.header_container__search button {
    padding: 0.5rem 1rem;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.header_container__search button:hover {
    background-color: rgb(255, 182, 182);
}

.table{
    width: 90%;
    overflow: hidden;
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
}

.table__item {
    height: 3rem;
}

.item__button {
    display: flex;
    justify-content: space-evenly;
}

thead {
    height: 3rem;
}
