@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #043495;
}

body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    border-radius: 1rem;
    margin: 2rem;
}

.main__logo {
    margin: 1rem;
    max-width: 23rem;
}

.main__section {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__form {
    background-color: #042d80;
    box-shadow: rgba(24, 41, 60, 0.8) 0 0 4px 3px;
    display: flex;
    flex-direction: column;
    border: solid rgb(28, 28, 120) 0.250rem;
    border-radius: 1.875rem;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    color: white;
}

.form__input {
    border-radius: 0.313rem;
    border: solid #0b139e 0.080rem;
    padding-left: 0.5rem;
    width: 100%;
    height: 2.5rem;
    background-color: white;
}

.form__button {
    width: 30%;
    align-self: center;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 169, 233);
    border: none;
}


.button {
    border: none;
    color: white;
    padding: 0.850rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
}

.button:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.button:active {
    filter: brightness(200%);
}

.section__a {
    font-size: small;
    width: 30%;
    align-self: center;
    color: rgb(100, 100, 247);
}
