.container_blocos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

.blocoPrincipal {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 60rem;
    height: auto;
    padding: 1.5rem;
    gap: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1rem 0.5rem;
    background-color: #f1f1f1;
}

.conteudoProduto {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 100%;
}

.imagemProduto {
    flex: 1;
    max-width: 18rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoesProduto {
    flex: 2;
    padding: 1rem;
}

.tituloProduto {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.descricaoSuperior,
.descricaoInferior {
    font-size: 1rem;
    color: #575757;
    margin-bottom: 0.2rem;
}

.blocoInferior {
    margin-top: 1rem;
}

.botoesInferiores {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
}

.botoesInferiores label {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.botoesInferiores input {
    width: 4rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
}

.botoesInferiores button {
    margin: 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: white;
    background-color: #ffcd00;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botoesInferiores button:hover {
    background-color: #444;
}

.rotas{
    color: grey;
}

.detalhesProduto {
    margin-top: 1.5rem;
    padding: 1rem;
    border-top: 0.1rem solid #ddd;
}

.detalhesProduto .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detalhesProduto .descricao {
    font-size: 1rem;
    color: #424242;
    line-height: 1.5;
}


.dark-mode{
    .descricao{
        color: rgb(162, 162, 162);
    }

    .titulo{
        color: #ffffff;
    }

    .tituloProduto{
        color: #ffffff;
    }

    .blocoPrincipal{
        background-color: #232323;
    }

    .descricaoSuperior,
    .descricaoInferior{
        color: rgb(162, 162, 162);
    }

    .rotas{
        color: #ff6565;
    }
}
