.containerGeral{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.120rem solid rgb(167, 48, 48);
    border-radius: 1rem;
    font-style: none;
}

.containerLateral{
    padding-right: 0.5rem;
    border-right: 0.120rem solid rgb(167, 48, 48);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerLateral a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-bottom: 0.120rem solid rgb(167, 48, 48);
}

.containerGeral_principal{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
