.containerGeral{
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    font-style: none;
}

.containerLateral{
    border-right: 0.120rem solid grey;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerLateral a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-bottom: 0.120rem solid grey;
}

.containerGeral_principal{
    width: 80%;
    display: flex;
    justify-content: center;
}
